
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color:#D6F8D6;
    color: #55505C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    outline: none;
    border: none;
}
h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
.container{
   max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 2%;
}

.container h3{
    width: 100%;
    text-align: center;
}

#score{
    display: block;
}
/*******************Buttons*****************************************/
.container button{
   width: 100%;
   cursor: pointer;
   font-weight: 700;
   text-transform: uppercase;
   padding: 10px 20px;
   color:#2196f3;
   font-size: 1.5rem;
   box-sizing: border-box;
}
.control{
    border: 1px solid black;
    margin: 1%;
}
#Left, #Right{
    width:48%;
}

/**************************Pushable buttons********************************/
.control.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
/**************************Grid********************************************/
.grid{
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
   background-image: url(img/JavaScript-Logo.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center ;
}

.grid div, .mini-grid div{
    height: 20px;
    width: 20px;
    margin: 1px;
    
   
}
.grid div{
    box-sizing: border-box;
    border: 1px solid rgba(85, 80, 92,0.2);
    border-radius: 20%;
}
.grid div:nth-child(n+401){
border: none;
}

.tetromino{
    box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid rgba(85, 80, 92,0.2);
}

.mini-grid{
    width: 88px;
    height: 88px;
    display: flex;
    flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 40px;
}
